body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.card {
    background-color: lightgrey;
    width: 320px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h1 {
    margin-bottom: 5px;
}

.role {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
}

.intro {
    font-size: 14px;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.card ul li {
    background-color: lightgreen;
    margin: 6px;
    padding: 6px;
    border-radius: 6px;
    font-size: 14px;
}

.contact {
    font-size: 15px;
    color: #555;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}

