* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #FBE7DA;
  color: grey;
  line-height: 1.6;
  }

.form-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  }  

.form-section,
.preview-section {
  margin: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

header {
  text-align: center;
  }

header h1 {
  font-size: 32px;
  margin-bottom: 5px;
  }

header p {
  font-size: 16px;
  margin-bottom: 10px;
  color: grey;
  }  

.form-section h2, .preview-section h2{
  text-align: center;
  font-size: 28px;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  }

.form-section div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  }

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-section textarea {
  height: 100px;
}


button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  }

button { 
  transition: 0.3s;
  }  

.preview-section h1{
  text-align: center;
  font-size: 25px;
  }

.resume h3{ 
  font-size: 20px;
  margin: 5px auto;
  padding: 10px;
  }

.resume p{
  font-family: Calibri, sans-serif;
  font-size: 16px;
  padding: 10px;
  }

.contact {
  text-align: center;
  margin-bottom: 10px;
  margin-top: -5px;
  }
