body {
  font-family: Arial, sans-serif;
  background color: grey;
  color: green;
  line-height: 1.4;
  padding: 20px;
  margin: 10px:
  padding: 10px;
  }

.resume {
  max-width: 700px;
  background-color: white;
  margin: 48px auto;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

header {
  text-align: center;
  margin-bottom: 30px;
  }

header h1 {
  margin-bottom: 0px;
  }

.subtitle {
  margin: -4px 0;
  color: black;
  font-size: 14px;
  }

.contact {
  margin: 4px 0;
  font-size: 13px;
  color: #777;
  }

section {
  margin: 0 25px;
  }

section h2 {
   border-bottom: 2px solid #e0e0e0;
   padding-bottom: 5px;
   margin-bottom: 10px;
   font-size: 18px;
  }

section p, section li {
    font-size: 14px;
    color: #333;
}

ul {
    padding-left: 18px;
}

.skills {
    list-style: none;
    padding-left: 0;
}

.skills li {
    display: inline-block;
    background-color: #eef1f5;
    padding: 6px 10px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    font-size: 13px;
  }

header img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  margin: 10px 10px;
}